<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<array>
		<data>
		9xH0osCdViMMNyyFLe7bEL7Rkheu+/EAmb53SvalZv8=
		</data>
		<data>
		vdqcy2urhb3P6keRSVouMwkSNpbaAGWIbivn+v/Kt24=
		</data>
		<data>
		aLRnuF9HWiVtEi9iZQW94rCQH2ns5JCb9m4pU/KaTwg=
		</data>
		<data>
		EhIwMPOy+SsfG3yyGYFgw5AwCnFQZT/EqlHhefNvyoI=
		</data>
		<data>
		uR0FTZfLl+FycTo43CsgXACQ+D1KjviCJoJQK0jlsOE=
		</data>
	</array>
	<key>hashes</key>
	<array>
		<data>
		A50rBSOZ+aRDPKdCsxvrVwHzuiCEHLknBwRHx1c0YdSN
		</data>
		<data>
		AufgTZVoYNwF9ILcx+m9P/s63Ha6LE54FIovI9VRM7gG
		</data>
		<data>
		AvQOBkMyVDx1PgPkST/BieiXYCkzO3Q3b2BeXHISyq5t
		</data>
		<data>
		A0GJCwYQVm3ZljLTxsDXy23VjUfJbktIowTXfSW2WgZe
		</data>
		<data>
		A7eHB6L/JDt/9vaS/xCbw47IbrZFxKrgP+KCxIo0aDdc
		</data>
	</array>
	<key>ids</key>
	<array>
		<string>MwM0vbKZzZM2yBm6LhFW</string>
		<string>seemoo-iphone8@mr-alex.dev</string>
		<string>mqt3eBOe1HmOVNXoO5DX</string>
		<string>PmL1GJZibDixC1PqlvFz</string>
		<string>mZEebknsr4SictJcNIdK</string>
	</array>
</dict>
</plist>
