<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<array>
		<data>
		EklCfbEGpn6+chFXjg3mAGyBIDn0yQAgABCx7G+uJj4=
		</data>
		<data>
		2vtPicNYGbymS2ngYW11dV3h4lGBBWPPIlLIHf4uz6o=
		</data>
		<data>
		WMlug9nviyuGUf6qGcp74P128ctn5gC+a1BgYU3A6Tk=
		</data>
		<data>
		ebGrcJklRGGUYxK0uWEH1qbcB/+bbfcZu6FVzb0MH5o=
		</data>
		<data>
		oa5L6dMCSlHYrH8rmYsxUaagDWgIO2/NDJp9pTSVwNw=
		</data>
	</array>
	<key>hashes</key>
	<array>
		<data>
		AufgTZVoYNwF9ILcx+m9P/s63Ha6LE54FIovI9VRM7gG
		</data>
		<data>
		Ajue3vhAN634KF0fgsoaDIhPegaGDHmLaLSm+Lxz1Fn1
		</data>
		<data>
		AkR+0UylvUB4lFQYOsBZV2/dHuhzQR3gAP1lyvKDfo4z
		</data>
		<data>
		Ar0pPchRZiawBbIR+EzlS0I9+36+mkv4Ah+Suozh/i/t
		</data>
		<data>
		AvItfjI0S9PwjycK9dTn72bmuFbXAZChJb/LYeoaf1dx
		</data>
	</array>
	<key>ids</key>
	<array>
		<string>seemoo-iphone8@mr-alex.dev</string>
		<string>CXu8AeZcCkBXZw1AnglO</string>
		<string>4z4cT52ahPQHLzWbFMxD</string>
		<string>MvJ5jeP91hqXJaTrgFAM</string>
		<string>woI9eQRQkbw9k4OSUH3L</string>
	</array>
</dict>
</plist>
